---
import AppLayout from "./layouts/AppLayout.astro";
import Todo from "./parts/Todo/index.astro";
import TSFile from "./parts/TSFile/index.astro";
---

<AppLayout>
  <main>
    <Todo />
    <TSFile />
  </main>
</AppLayout>
