<section>
  <h1>TODO</h1>
  <ol>
    <li>✅ prettier の設定</li>
    <li>✅ eslint の設定</li>
    <li>stylelint の設定</li>
    <li>✅ TS ファイルの読み込み</li>
    <li>✅ デザイントークンの使用方法</li>
    <li>✅ 画像・SVG のやり方</li>
    <li>✅ CSS アニメーション</li>
    <li>✅ 画面内に入ってきたときに発火する CSS アニメーション</li>
    <li>✅ 環境変数で出力されたアセットのパスを変更できるか？</li>
    <li>❌ 各ポストでアセットのエントリ分けできるか？</li>
  </ol>
</section>
